div {
    width: 200px;
    height: 200px;
    background-color: bisque;
}

h1 {
    background-color: blanchedalmond;
    width: 100px;
}

#one {
    background-color: brown;
    border-width:  5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
}

#two {
    background-color: burlywood;
    border-width: 3px;
    border-color: rgb(184, 8, 8);
    border-style: dashed;
    border-left-width: 8px;
    box-sizing: border-box;
}

#three {
    background-color: cadetblue;
    border: 4px dotted orange;
    box-sizing: border-box;
    border-radius: 10%;
}